/Source/Appli/Java/BeatCloud/nbproject/private/
/Source/Appli/Java/BeatCloud/build/
.DS_Store
.DS_Store
Source/.DS_Store
Source/Appli/out/production/Appli/Application/Main.class
*.class
*.class
